.skills {
    padding: 50px 20px;
}

.skills h1 {
    text-align: left;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
}

.view-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}


.view-btn {
    background-color: #009FBD;
    color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    text-decoration: none;
}

.view-btn:hover {
    background-color: white;
    color: #009FBD;
}
