.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 10px;
    box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
    width: 300px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 4px;
    padding: 5px 0;
    font-weight: 300;
    z-index: 9999999;
    height: 40px;
}

.toast-icon svg {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
}

.close-icon  {
    margin-left: auto;
}
