/* src/components/AboutMeContainer.css */
.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.about-me-content {
    width: 65%;
}

.greeting-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-me-content h1 {
    margin-bottom: 10px;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-me-content .intro-statement {
    margin-bottom: 10px;
    font-size: x-large;
}

.intro-emoji {
    padding-top: 15px;
}

.about-me-content .about-me-description p  {
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.about-me-content .read-more {
    display: flex;
    cursor: pointer;
    color: #009FBD;
    justify-content: right;
    font-weight: bold;
}

.about-me-content .read-more:hover {
    cursor: pointer;
    color: #009FBD;
    font-weight: bold;
    opacity: 0.7;
}

.social-media-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-media-icons a {
    color: inherit;
    text-decoration: none;
}

.social-media-icons a:hover {
    color: #009FBD;
}

.social-media-icons .icon {
    font-size: 1.5em;
}

.about-me-gif {
    width: 30%;
}

.about-me-gif img {
    width: 100%;
    height: auto;
}
