.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 99999;
    position: sticky;
    top:0;
    padding: 2vh 10vw;
}

.navbar.light {
    background-color: #ffffff;
    color: grey;
}

.navbar.dark {
    background-color: #003049;
    color: #fff;
}

.navbar-logo {
    width: 3.5vw;
    height: 3.5vw;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: left;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
}

.menu-item li {
    cursor: pointer;
    font-weight: bolder;
}

.menu-item span {
    font-weight: bold;
}

.menu-item:hover {
    color: #009FBD;
}

.theme-toggle {
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:30vw;
        padding: 1vh 7vw;
        z-index: 9999;
    }

    .navbar.light .nav-links {
        background-color: #ffffff;
        color: grey;
    }

    .navbar.dark .nav-links {
        background-color: #003049;
        color: #fff;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        margin: 0%;
    }

    .nav-links.open {
        z-index: 999999;
        width: 80%;
        transform: translateX(0);
    }

    .menu-item {
        text-align: left;
        padding: 1rem;
        font-size: 1rem;
    }

    .navbar.light .menu-item:hover {
        background-color: #003049;
        color: #fff;
    }

    .navbar.dark .menu-item:hover {
        background-color: #ffffff;
        color: grey;
    }

    .hamburger {
        display: block;
        order: 1;
    }

    .logo {
        order: 2;
        text-align: center;
    }

    .navbar-logo {
        width: 8vw;
        height: 8vw;
    }

    .theme-toggle {
        order: 3;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30vw;
        padding: 1vh 7vw;
        z-index: 9999;
    }

    .navbar-logo {
        width:8vw;
        height:8vw;
    }
}
