/* src/App.css */
.app-container.dark {
  background-color: #000a0f;
  color: #fff;
  width: 100%
}

.app-container.light {
  background-color: #f8f8fa;
  color: #000;
  width: 100%
}

.main-content {
  padding: 0 10vw;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 5vw ;
  }
}
